{$CADDY_SITE_ADDRESS} {
    request_body {
        max_size 120MB
    }
    header -Server
    reverse_proxy web:8000 {
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto https
    }
}
