http://127.0.0.1:8081 {
	@health path /healthz/
	reverse_proxy @health web:8000 {
		header_up Host {$CADDY_SITE_ADDRESS}
		header_up X-Forwarded-Proto https
	}
}

https://{$CADDY_SITE_ADDRESS} {
	request_body {
		max_size 120MB
	}
	header -Server
	@realtime path /ws/*
	reverse_proxy @realtime realtime:8001 {
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto https
	}
	reverse_proxy web:8000 {
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto https
	}
}
